@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');
body{
	position:absolute;
	left:30px;
}
.main{
  background:
  url(https://raw.githubusercontent.com/Sergey240390/HTML_Resume_SS/master/Header.jpg);     background-size: cover;
  width:865px;
  height:180px;
}
.info{
	position:relative;
	width:850px;
}
.section_personal{
	position:relative;
	width:850px;
}
.personal{
	position:absolute;
	top:0;
	left:0;
	width:580px;
}
.photo{
	position:absolute;
	top:0;
	right:0;
	width:250px;
}
.section_education{
	position:relative;
	top:310px;
	width:850px;
}
.education{
	position:absolute;
	top:0;
	left:0;
}
.education_info{
	position:absolute;
	top:0;
	right:0;
	width:620px;
}
.section_work{
	position:relative;
	top:500px;
	width:850px;
}.work{
	position:absolute;
	top:0;
	left:0;
}
.work_info{
	position:absolute;
	top:0;
	right:0;
	width:620px;
}
.section_skill{
	position:relative;
	top:690px;
	width:850px;
}
.skill{
	position:absolute;
	top:0;
	left:0;
}
.skill_info{
	position:absolute;
	top:0;
	right:0;
	width:645px;
}
pre, p, .education_title, .work_title, .skill_title, li, .profession{
	font-family: 'Cormorant Infant', serif;
}
.education_title, .work_title, .skill_title{
  color:  #1E90FF;
}
.profession{
  position: absolute;
  color: #FFFFFF;
	top: 60%;
	left: 22%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
h1{
  position: absolute;
  color: #FFFFFF;
	top: 30%;
	left: 28%;
	transform: translate(-50%, -50%);
}
b{
  color: #1E90FF;
}
.dws1 {
	position: absolute;
	top: 80%;
	left: 95%;
	transform: translate(-50%, -50%);
}
.dws2 {
	position: absolute;
	top: 80%;
	left: 89%;
	transform: translate(-50%, -50%);
}
.dws3 {
	position: absolute;
	top: 80%;
	left: 76.7%;
	transform: translate(-50%, -50%);
}
.button1{
	border: 2px solid #4169E0;
	font-size: 20px;
	color: #4169E0;
	text-decoration: none;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	position: relative;
	transition: .3s;
	overflow: hidden;
}
.button2 {
	border: 2px solid #B22222;
	font-size: 20px;
	color: #B22222;
	text-decoration: none;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	position: relative;
	transition: .3s;
	overflow: hidden;
}
.button3 {
	border: 2px solid #008000;
	font-size: 20px;
	color: #008000;
	text-decoration: none;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	position: relative;
	transition: .3s;
	overflow: hidden;
}
.button1::before, .button1::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #4169E0;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}
.button2::before, .button2::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #B22222;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}
.button3::before, .button3::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #008000;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}
.button1::after, .button2::after, .button3::after {
	opacity: 1;
	transition-delay: .2s;
}
.button1:hover, .button2:hover,  .button3:hover {
	color: #fff;
}
.button1:hover::before, .button1:hover::after, .button2:hover::before, .button2:hover::after, .button3:hover::before, .button3:hover::after {
	left: 0;
}